{
  "extends": ["airbnb"],
  "parser": "babel-eslint",
  "plugins": [
    "jest"
  ],
  "rules": {
    "no-console": 0,
    "no-return-assign": 2,
    "jest/no-disabled-tests": "warn",
    "jest/no-focused-tests": "error",
    "jest/no-identical-title": "error",
    "jest/valid-expect": "error"
  },
  "env": {
    "es6": true,
    "browser": true,
    "node": true,
    "jest/globals": true
  }
}
